.poc2go-console, pre > code {
  font-family: monospace;
  font-size: .9em;
  background: black;
  overflow-x: auto;
}
.mono {
  font-family: monospace;
}
.tc-tab-buttons {
  font-size: 100%;
}
summary {
  font-size: 105%;
}